<div class="w-95 mx-auto h-100 flex-between">
  <div class="w-50 h-100 flex-start">
    <app-list
      class="h-100"
      tagPosition="top"
      tagColor="accent"
      hoverColor="primary"
      direction="horizontal"
      [items]="vitaeList"
    ></app-list>
  </div>
  <div class="w-50 h-100 flex-end">
    <button
      #date
      class="ngm-list-item h-100 flex-end"
      ngmListItem
      tagPosition="top"
      tagColor="accent"
      hoverColor="primary"
      [isActive]="false"
    ></button>
    <app-list
      class="h-100"
      tagPosition="top"
      tagColor="accent"
      hoverColor="primary"
      direction="horizontal"
      [items]="utilList"
    ></app-list>
  </div>
</div>
