<ng-container *ngIf="activeTab | async as activeTab">
  <div class="horizontal-nav">
    <p>{{activeTab.label}}</p>
    <button
      class="button-round button-outline-danger btn-sm mr-2"
      (click)="closeBottomPanel()"
    >
      -
    </button>
  </div>

<!--  <router-outlet name="bottom"></router-outlet>-->

  <ng-container [ngSwitch]="activeTab.value">

    <ng-container *ngSwitchCase="'admin'">
      <app-lazy-container
        *authenticatedWithRole="'SysAdmin'"
        [moduleName]="'admin'"
      ></app-lazy-container>
    </ng-container>

    <ng-container *ngSwitchCase="'login'">
      <app-lazy-container
        [moduleName]="'login'"
      ></app-lazy-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <p>{{activeTab.label}} works!</p>
    </ng-container>

  </ng-container>
</ng-container>
