<section class="side-panel-inner">
  <nav
    *ngIf="state.projects"
    class="projects"
    [class.h-100]="state.projects && !state.blog"
    [class.h-50]="state.projects && state.blog"
  >
    <div class="horizontal-nav">
      <div class="w-50 flex-start">
        <i class="fas fa-folder mx-1"></i>
        <small>Projects</small>
      </div>
      <div class="w-50 flex-end">
        <button class="ngm-btn ngm-btn-outline-danger btn-sm mr-2" (click)="closeSection('projects')">
          -
        </button>
      </div>
    </div>
    <app-list
      *ngIf="projects.length > 0; else noProjects"
      class="w-100"
      tagPosition="left"
      tagColor="info"
      hoverColor="primary"
      [selectedValue]="tabsService.topActiveTab?.value"
      [items]="projects"
      (selectedItem)="selectItem($event, 'projects')"
    ></app-list>
  </nav>

  <nav
    *ngIf="state.blog"
    class="blog"
    [class.h-100]="state.blog && !state.projects"
    [class.h-50]="state.blog && state.projects"
  >
    <div class="horizontal-nav">
      <div class="w-50 flex-start">
        <i class="fas fa-folder mx-1"></i>
        <small>Blog</small>
      </div>
      <div class="w-50 flex-end">
        <button class="ngm-btn ngm-btn-outline-danger btn-sm mr-2" (click)="closeSection('blog')">
          -
        </button>
      </div>
    </div>
    <app-list
      *ngIf="blogPosts?.length > 0; else noBlog"
      tagPosition="left"
      tagColor="info"
      hoverColor="primary"
      [items]="blogPosts"
    ></app-list>
  </nav>
</section>

<ng-template #noProjects>
  <p>There are no Projects</p>
</ng-template>

<ng-template #noBlog>
  <p>There are no Blog Posts</p>
</ng-template>
