<div class="w-95 mx-auto h-100 flex-between">
  <div class="w-50 h-100 flex-start">
    <app-list
      class="h-100"
      tagPosition="top"
      tagColor="info"
      hoverColor="primary"
      direction="horizontal"
      [canHaveActiveItem]="vitaeHasActiveItem"
      [items]="vitaeList"
      (selectedItem)="changeActivePanel($event)"
    ></app-list>
  </div>
  <div class="w-50 h-100 flex-end">
    <button
      #date
      class="ngm-list-item h-100 flex-end"
      appListItem
      [isActive]="false"
    ></button>
    <app-list
      class="h-100"
      tagPosition="top"
      tagColor="info"
      hoverColor="primary"
      direction="horizontal"
      [canHaveActiveItem]="utilsHasActiveItem"
      [items]="utilList"
      (selectedItem)="changeActivePanel($event)"
    ></app-list>
  </div>
</div>
