<div class="w-95 mx-auto h-100 flex-between">
  <div class="w-50 h-100 flex-start">
    <app-list
      class="h-100"
      tagPosition="top"
      tagColor="info"
      hoverColor="primary"
      direction="horizontal"
      [canHaveActiveItem]="vitaeHasActiveItem"
      [items]="vitaeList"
      (selectedItem)="changeActivePanel($event)"
    ></app-list>
  </div>
  <div class="w-50 h-100 flex-end">
    <button
      #date
      class="list-item h-100 flex-end"
      appListItem
      [isActive]="false"
    ></button>
    <app-list
      class="h-100"
      tagPosition="top"
      tagColor="info"
      hoverColor="primary"
      direction="horizontal"
      [canHaveActiveItem]="utilsHasActiveItem"
      [items]="utilList"
      [selectedValue]="(tabsService.getActiveTabBottom() | async)?.value"
      (selectedItem)="changeActivePanel($event)"
    ></app-list>
    <button
      *authenticatedWithRole="'SysAdmin'"
      class="list-item h-100 flex-end"
      appListItem
      tagPosition="top"
      tagColor="info"
      hoverColor="primary"
      [isActive]="(tabsService.getActiveTabBottom() | async)?.value === 'admin'"
      (click)="changeActivePanel({label: 'Admin', value: 'admin'})"
    >
      Admin
    </button>
    <button
      *authenticatedWithRole="'Unauthenticated'"
      class="list-item h-100 flex-end"
      appListItem
      tagPosition="top"
      tagColor="info"
      hoverColor="primary"
      [isActive]="(tabsService.getActiveTabBottom() | async)?.value === 'login'"
      (click)="changeActivePanel({label: 'Login', value: 'login'})"
    >
      Login
    </button>
    <button
      *authenticatedWithRole="'Any'"
      class="list-item h-100 flex-end"
      appListItem
      tagPosition="top"
      tagColor="info"
      hoverColor="primary"
      [isActive]="false"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</div>
