<main class="app-container">
  <header class="top-navigation">
    <app-header></app-header>
  </header>
  <aside class="side-navigation">
    <app-side-nav></app-side-nav>
  </aside>
  <aside
    class="side-panel"
    appLayout
    direction="columns"
    [panelName]="'sidePanelCol'"
  >
    <app-side-panel></app-side-panel>
  </aside>
  <section class="main-content">
    <app-content-nav></app-content-nav>
    <router-outlet></router-outlet>
  </section>
  <section
    class="bottom-panel"
    appLayout
    direction="rows"
    [panelName]="'bottomContentRow'"
  >
    <app-bottom-content></app-bottom-content>
  </section>
  <footer class="footer-navigation">
    <app-footer></app-footer>
  </footer>
</main>
