.app-nav-link {
  margin: 0 0.2rem;
  background: transparent;
  padding: 0.5rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  border: none;
  color: var(--text);
  &:hover {
    background-color: var(--accent);
    border-color: transparent;
  }
}

.horizontal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cardBg);
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
}

.vertical-nav {
  width: 1.4rem;
  height: 100%;
  position: relative;
  margin-top: .2rem;

  li {
    width: max-content;
  }
}

.vertical-navigation {
  height: 100%;
  padding: 0;
  margin: .5rem 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.vertical-tab {
  transform: rotate(270deg);
  transform-origin: 0 top;
  margin-top: 5.6rem;
  background-color: var(--pageBg);
  padding: 0 .75rem;
  cursor: pointer;
  border: none;
  color: var(--text);
  min-width: 6rem;
  width: 100%;
  height: 1.91rem;
  &:focus {
    outline: none;
  }
}

.vertical-tab-active {
  background-color: var(--accent);
}
