.resize-helper-row {
  position: absolute;
  top: -.4rem;
  right: 0;
  height: .4rem;
  width: 100%;
  background: var(--cardBg);
  cursor: row-resize;
}

.resize-helper-col {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: .5rem;
  background: var(--cardBg);
  cursor: col-resize;
}

.resize-helper-hidden {
  opacity: 0;
  pointer-events: none;
}
