<main class="app-container">
  <header class="top-navigation">
    <app-header></app-header>
  </header>
  <aside class="side-navigation">
    <app-side-nav></app-side-nav>
  </aside>
  <aside class="side-panel" appResizeLayout [cellName]="'sidePanel'" [direction]="'columns'">
    <app-side-panel></app-side-panel>
  </aside>
  <section class="main-content">
    <app-content-nav></app-content-nav>
    <router-outlet></router-outlet>
  </section>
  <section class="bottom-panel" appResizeLayout [cellName]="'bottomPanel'" [direction]="'rows'">
    <p>Bottom Panel Works!</p>
  </section>
  <footer class="footer-navigation">
    <app-footer></app-footer>
  </footer>
</main>
