@import "scss/variables/all";
@import "scss/shared/all";
@import "~ng-mountain/assets/styles/styles";

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.resize-helper-row {
  position: absolute;
  top: -.4rem;
  right: 0;
  height: .4rem;
  width: 100%;
  background: #2f343f;
  cursor: row-resize;
}

.resize-helper-col {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: .5rem;
  background: #2f343f;
  cursor: col-resize;
}
