@import "scss/variables/all";
@import "scss/shared/all";
@import "~ng-mountain/assets/styles/styles";

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: var(--text);
  font-family: 'Fira Sans Condensed', sans-serif;
}

.resize-helper-row {
  position: absolute;
  top: -.4rem;
  right: 0;
  height: .4rem;
  width: 100%;
  background: #2f343f;
  cursor: row-resize;
}

.resize-helper-col {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: .5rem;
  background: #2f343f;
  cursor: col-resize;
}

.app-nav-link {
  margin: 0 0.2rem;
  background: transparent;
  padding: 0.5rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  border: none;
  color: var(--text);
  &:hover {
    background-color: var(--accent);
    border-color: transparent;
  }
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
}

.btn-sm {
  padding: .2rem .5rem;
}
.w-0 {
  width: 0 !important;
}

.h-0 {
  height: 0 !important
}

.resize-helper-hidden {
  opacity: 0;
  pointer-events: none;
}
