body {
  --primary: #2a82b5;
  --primaryValues: 42, 130, 181;
  --accent: #ff6a00;
  --accentValues: 255, 106, 0;
  --success: #5fe653;
  --successValues: 95, 230, 83;
  --info: #21a9ed;
  --infoValues: 33, 169, 237;
  --warning: #edc121;
  --warningValues: 237, 193, 33;
  --danger: #cc3c37;
  --dangerValues: 204, 60, 55;
  --light: #fafafa;
  --lightValues: 250, 250, 250;
  --lightGrey: #dbdbdb;
  --lightGreyValues: 219, 219, 219;
  --darker: #262b33;
  --darkerValues: 38, 43, 51;
  --dark: #2f343f;
  --darkValues: 47, 52, 63;

  // DARK THEME
  --text: var(--light);
  --pageBg: var(--darker);
  --cardBg: var(--dark);
  --cardTitle: var(--light);
  --borderColor: var(--light);
  --borderColorValues: var(--lightValues);
  --shadowColor: var(--lightGrey);
  --shadowColorValues: var(--lightGreyValues);

  // LIGHT THEME
  //--text: var(--dark);
  //--pageBg: var(--light);
  //--cardBg: var(--lightGrey);
  //--cardTitle: var(--dark);
  //--borderColor: var(--dark);
  //--borderColorValues: var(--darkValues);
  //--shadowColor: var(--dark);
  //--shadowColorValues: var(--darkValues);
}
