:root {
  --primary: #ff6a00;
  --primaryValues: 255, 106, 0;
  --accent: #1a357a;
  --accentValues: 26, 53, 122;
  --success: #5fe653;
  --successValues: 95, 230, 83;
  --info: #21a9ed;
  --infoValues: 33, 169, 237;
  --warning: #edc121;
  --warningValues: 237, 193, 33;
  --danger: #cc3c37;
  --dangerValues: 204, 60, 55;
  --light: #fafafa;
  --lightValues: 250, 250, 250;
  --darker: #262b33;
  --darkerValues: 38, 43, 51;
  --dark: #2f343f;
  --darkValues: 47, 52, 63;
}
